<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>user data</h2>
    <% arr.forEach(u=>{ %>
        <span>
            <%= u.name %>
        </span>: <span>
            <%= u.sal %>
        </span> <br>
        <% }) %>
</body>

</html>